<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/style.css">
    <title>Pic Tag App</title>

</head>

<body>

    <input type="file" style="display: none" name="file" class="arquivo" accept="image/*" />
    <div class="flex-container">

        <span class="click-area">
            <div class="item">
                <img src="icons/image_default.png" class="preview-img">
            </div>
            <div class="item texto">
                <h1>Adicione uma imagem</h1>
            </div>
        </span>

        <div class="item">
            <input type="text" placeholder="Adicione uma tag" name="input-tag" id="input-tag">
        </div>
        <div class="item">
            <input type="button" class="btn" id="save" value="salvar">
            <input type="button" class="btn" id="add-tag" value="adicionar tag">
        </div>
        <div class="item tags-container">
            <label>Tags:</label><span class="tag"><label>Teste</label><a onclick="deleteTag(event)" href="#" class="close">x</a></span> 
        </div>

    </div>




    <script src="js/script.js"></script>
</body>

</html>