.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.item{
    width: 25%;
    height: 25%;
}

.texto{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.5em;
}
img {
    width: 100%;
    
}

.click-area{
    cursor: pointer;
}

#input-tag{
    border-radius: 5px;
    border:solid 1px #ccc;
    width: 98.5%;
    padding: 10px 5px;
    
}

#save{
    
    color: #fff;
    background-color: #336666;
    border:none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
    padding: 10px 5px;

}